{
  "plugins": ["prettier-plugin-tailwindcss"],
  "printWidth": 140,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.css",
      "options": {
        "singleQuote": false
      }
    }
  ]
}
