# VerificationResult

## Description

The result of a query to the age verification flow start from the API.

## Fields

| Field Name | Description |
| --- | --- |
| `id` - [ID!](../types/ID.md) | Age verification flow ID, used to track the verification process |
| `url` - [String!](../types/String.md) | URL of the age verify widget to embed in the page |

## Example

```json
{
  "id": "4",
  "url": "xyz789"
}
```
